*{
    margin: 0;
    padding: 0;
}

/* header */

.header{
  
}

.social-container{
    border-bottom: 1px solid gray;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.icons-container{
    display: flex;
    gap: 15px;
}
.icon{
    width: 10%;
}

.blog-name-container{
    border-bottom: 1px solid gray;
    padding: 5px;
}

.blog-title{
    font-size: 10em;
    text-align: center;
    text-transform: uppercase;
}

/* Nav-bar */

.nav-bar{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-btn{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}
.links-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link-item{
    list-style-type: none;
}

.a-link{
    text-decoration: none;
    color: black
}

.search-input{
    padding: 5px;
}